* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container {
  background-color: black; /* rgb(3, 36, 70); */
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerOne {
  background-color: rgba(131, 49, 49, 0.219);
  height: 93vh;
  width: 0%;
  max-width: 400px;
  border-radius: 9px;
  overflow: hidden;
}
