* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-one {
  background-color: rgba(128, 128, 128, 0.219);
  height: 93vh;
  width: 60%;
  max-width: 400px;
  border-radius: 9px;
  overflow: hidden;
}
.display {
  background-color: rgb(128, 128, 128);
  text-align: right;
  height: 100px;
  width: 100%;
  position: relative;
  font-size: 30px;
  padding: 10px;
}
.display-1 {
  font-size: 20px;
  height: 20px;
  opacity: 0.3;
}
.temporaryResult {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  opacity: 0.4;
  left: 10;
}
